@import "tailwindcss";

@font-face {
    font-family: SpaceGrotesk;
    src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-space-grotesk: SpaceGrotesk, sans-serif;

    --color-*: initial;
    --color-black: #000000;
    --color-dark-purple: #5c2dd5;
    --color-purple: #7945ff;
    --color-red: #fd6687;
    --color-yellow: #ffce67;
    --color-white: #ffffff;

    --text-heading-xl: 56px;
    --text-heading-xl--line-height: 71px;
    --text-heading-xl--font-weight: 700;

    --text-heading-lg: 36px;
    --text-heading-lg--line-height: 46px;
    --text-heading-lg--font-weight: 700;

    --text-heading-md: 24px;
    --text-heading-md--line-height: 31px;
    --text-heading-md--font-weight: 700;

    --text-heading-sm: 20px;
    --text-heading-sm--line-height: 26px;
    --text-heading-sm--font-weight: 700;

    --text-heading-xs: 16px;
    --text-heading-xs--line-height: 21px;
    --text-heading-xs--font-weight: 700;

    --text-body-md: 16px;
    --text-body-md--line-height: 21px;
    --text-body-md--font-weight: 500;

    --ease-modal-in: cubic-bezier(0.45, 0.65, 0.2, 1.3);
    --ease-modal-out: cubic-bezier(0.8, -0.3, 0.55, 0.35);
}

/* Example of custom property */
@property --hard-shadow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #000000;
}

@utility hard-shadow-* {
    --hard-shadow-size: --spacing(--value(number));
    --hard-shadow-color: --value(--color-*);
    box-shadow: 0 var(--hard-shadow-size, 10px) 0 0 var(--hard-shadow-color);
}

@utility -hard-shadow-* {
    --hard-shadow-size: --spacing(--value(number) * -1);
    --hard-shadow-color: --value(--color-*);
    box-shadow: 0 var(--hard-shadow-size, -10px) 0 0 var(--hard-shadow-color);
}

@layer components {
    html {
        font-family: var(--font-space-grotesk);
        font-weight: 400;
        font-size: 16px;
    }
}

.container-test {
    container-type: inline-size;
    container-name: test;
}

@container test (inline-size >= 0) {
    .container-test img {
        height: 100cqb !important;
    }
}
